# Pubky environment: testnet | staging | production
VITE_PUBKY_ENV=testnet
VITE_NEXUS_URL=http://localhost:8080
VITE_PUBKY_HOMESERVER=8pinxxgqs41n4aididenw5apqp1urfmzdztr8jt4abrkdn435ewo
VITE_PUBKY_RELAY=http://localhost:15412/link

# Protomaps tiles — get a free key at https://app.protomaps.com/
VITE_PROTOMAPS_URL=https://api.protomaps.com/tiles/v4.pmtiles
VITE_PROTOMAPS_KEY=YOUR_KEY_HERE
